body,
h1,
h2,
h3,
div,
p,
img,
svg {
  padding: 0;
  margin: 0;
}

body {
  color: black;
  background-color: white;
}

.huddle-hv {
  background-color: var(white);
}

.huddle-hv__greeting {
  background-color: white;
}

.huddle-hv__status {
  background-color: var(white);
}

.huddle-main {
  background-color: white;
}

.huddle-main-l1:nth-child(1) {
  background-color: blue;
}

.huddle-main-l1:nth-child(3) {
  background-color: #f5faff;
}

.huddle-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 50px 0;
  margin-bottom: 100px;
  background-color: var(white);
}

.huddle-header .huddle-heading {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
}

.huddle-header .huddle-heading img {
  width: 20%;
  height: 60%;
  margin-top: 8px;
}

.huddle-header__tryItFree {
  margin-right: 50px;
  text-decoration: none;
  background-color: #ff8fd8;
  border: none;
  border: 1px solid #ff8fd8;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.huddle-header__tryItFree:hover {
  border: 1px solid #ff8fd8;
  color: #ff8fd8;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}

.huddle-hv {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.huddle-hv__greeting {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.huddle-hv__greeting h2 {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  margin: 10px 0;
}

.huddle-hv__greeting p {
  width: 50%;
  margin: 10px 0;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}

.huddle-hv__greeting button {
  border: 1px solid #ff8fd8;
  color: #ff8fd8;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  width: 30%;
  margin: 10px 0;
}

.huddle-hv__greeting button:hover {
  text-decoration: none;
  background-color: #ff8fd8;
  border: none;
  border: 1px solid #ff8fd8;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  width: 30%;
}

.huddle-hv__image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.huddle-hv__image img {
  width: 84%;
  height: auto;
}

.huddle-hv__status {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.huddle-hv__status img {
  width: 16%;
  height: auto;
}

.huddle-hv__status .number_p {
  font-size: 50px;
  font-weight: 700;
}

.huddle-hv__status .number_p .number {
  font-size: 50px;
  font-weight: 700;
}

.huddle-hv__status .huddle-final-message {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.6;
  text-align: center;
}

.huddle-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.huddle-main-l1x0 {
  margin: 100px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.huddle-main-l1x1 {
  padding: 10px 100px;
}

.huddle-main-l1x1 h3 {
  font-size: 25px;
  margin-bottom: 15px;
}

.huddle-main-l1x2 img {
  width: 80%;
  height: auto;
}

.huddle-main__flowing {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=main.css.map */