body {
    color: $text;
    background-color: $bg-main;
}

//huddle-hv
.huddle-hv {
    background-color: var($bg-main);
    &__greeting {
        background-color: $bg-main;
    }
    &__status {
        background-color: var($bg-main);
    }
}

//huddle-main
.huddle-main {
    background-color: $bg-main;
    &-l1:nth-child(1) {
        background-color: blue;
    }
    &-l1:nth-child(3) {
        background-color: $Very-Pale-Blue;
    }
}