body {
    color: $text;
    background-color: $bg-main;
}

//huddle-hv
.huddle-hv {
    background-color: var($bg-main);
    &__greeting {
        background-color: $bg-main;
    }
    &__status {
        background-color: var($bg-main);
    }
}