.huddle-hv {
    // margin padding width part
    width: 80%;
    margin: 0 auto;
    // display part
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //
    //huddle-hv__greeting
    &__greeting {
        //margin padding width part
        margin-bottom: 50px;
        //display
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            //font
            text-align: center;
            font-weight: 900;
            font-size: 40px;
            //margin padding width part
            margin: 10px 0;
        }
        p {
            //margin padding width part
            width: 50%;
            margin: 10px 0;
            //font
            font-size: 12px;
            text-align: center;
            font-weight: 500
        }
        button {
            @include btn-or-link-hover;
            //margin padding width part
            width: 30%;
            margin: 10px 0;
            &:hover {
                @include btn-or-link;
                width: 30%;
            }
        }
    }
    //
    //hddle-hv__image
    &__image {
        //margin padding width
        width: fit-content;
        margin-bottom: 50px;
        //display
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 84%;
            height: auto;
        }
    }
    //
    //huddle-hv__status
    &__status {
        //margin padding width part
        width: 70%;
        // display part
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //img
        img {
            //margin padding width
            width: 16%;
            height: auto;
        }
        //number_p
        .number_p {
            //font
            font-size: 50px;
            font-weight: 700;
            .number {
                //font
                font-size: 50px;
                font-weight: 700;
            }
        }
        //p
        .huddle-final-message {
            //font
            font-size: 12px;
            font-weight: 500;
            opacity: 0.6;
            text-align: center;
        }
    }
}